@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  background: #1C8EF9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, #root {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.parent{
  margin-top: 56px;
  position: absolute; 
  top: 0px; 
  left: 0px;
  right: 0px; 
  bottom: 0px;

}

.content{
  width: auto;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 3% 3%;
  border-radius: 15px;
  transition: all .3s;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: auto;

  justify-self: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.sign-up{
  width: auto;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 3% 3%;
  border-radius: 15px;
  transition: all .3s;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: auto;

  justify-self: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.welcome-page{
  width: auto;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 3% 3%;
  border-radius: 15px;
  transition: all .3s;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: auto;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #167bff;
  margin: 0;
}

.message {
  color: red;
}

.error {
  text-align: center;
  font-size: 13px;
  padding-bottom: 15px;
}

.logo {
  height: 25px;
  width: 75px;
}

.profilePic {
  height: 75px;
  width: 75px;
}

.venue-list {
  width: 1000px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 1% 1%;
  border-radius: 15px;
  transition: all .3s;
}

.bookings-list {
  width: 1200px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 1% 1%;
  border-radius: 15px;
  transition: all .3s;
}

.booking-view {
  width: 1050px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 1% 1%;
  border-radius: 15px;
  transition: all .3s;
}

.display-selected-venue-header {
  width: 900px;
  margin: auto;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  transition: all .3s;
}

.display-bookings-header {
  width: 1100px;
  margin: auto;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  transition: all .3s;
}

.display-booking-header {
  width: 1000px;
  margin: auto;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  transition: all .3s;
}

.display-selected-venue {
  width: 900px;
  margin: auto;
  background: #e5e5e5;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  transition: all .3s;
}

.display-selected-booking {
  width: 1100px;
  margin: auto;
  background: #e5e5e5;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  transition: all .3s;
}

.display-booking {
  width: 1000px;
  margin: auto;
  background: #e5e5e5;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  transition: all .3s;
}

.searchbar {
  width: 1000px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 2% 2%;
  border-radius: 15px;
  transition: all .3s;
  
  flex-direction: column;

  justify-self: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.booking-selector {
  width: 1150px;
  height: 550px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 20px 55px 20px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.profile {
  width: 1020px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 40px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.display-bookings {
  width: 950px;
  margin: auto;
  background: #e5e5e5;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  transition: all .3s;
}

.booking-overview {
  width: 950px;
  margin: auto;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  transition: all .3s;
}

.home-page {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 450px) {
  .content{
    width: 80%;
    height: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 1% 1%;
    border-radius: 15px;
    transition: all .3s;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  
    overflow-y: auto;
    overflow-x: auto;
  
    justify-self: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  .sign-up{
    width: 80%;
    height: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 3% 3%;
    border-radius: 15px;
    transition: all .3s;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  
    overflow-y: auto;
    overflow-x: auto;
  
    justify-self: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}
